__pycache__/
.ipynb_checkpoints/*
*.ipynb
inputs/*
processed/*
models/detection/*
models/pose/*
outputs/decoded/*
outputs/raw/*
outputs/submissions/val/*
outputs/submissions/test/*
notebooks/*
pretrained_weights/*
*.bat
tmp*/*
visualize_submission.py

!.gitkeep
